@font-face {
    font-family: 'Crossfit';
    src: url('@/assets/fonts/crossfit/Crossfit-Black.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crossfit-Black';
    src: url('@/assets/fonts/crossfit/CrossfitDemo-Black.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Crossfit-Bold';
    src: url('@/assets/fonts/crossfit/CrossfitDemo-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#super-sleep-grande {
    display: none;
}

.super-natural-sleep {
    background-image: url('@/assets/image/sleepSuperment/super-natural-sleep.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 430px;
    width: 100%;
}

div.title-super-natural-sleep {
    width: 100%;
    height: 150px;
    padding: 40px 0 0 25px;
}

span.product-title {
    font-size: 44px;
    font-family: 'Crossfit-Black';
    font-weight: bold;
    color:#6EC8F0;
    
    display: block;
    line-height: 44px; 
    word-spacing: 0%;

}

span.product-sub-title {
    font-family: 'Crossfit-Black';
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #370F1E;
}

div.description {
    width: 200px;
    height: 280px;
    padding: 35px 0 0 25px;
}

span.description {
    font-family: 'DM Sans';
    font-weight: 500;
    font-style: 'Regular';
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    display: block;
    color: #370F1E;
}

button img.botao-shop {
    height: 40px;
    width: 100%;
    margin-top: 50px;
}

img.strip {
    margin-left: 40px;
    height: 15px;
    width: 92px;
}

.non-habit-forming {
    width: 100%;
    height: 100%;
    background: #FFFAF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0 20px 0;
}
  
div.description-forming {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.description-forming p {
    font-family: 'Gelasio';
    font-weight: 600;
    font-style: Italic;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -2%;
    text-align: center;
    color: #370F1E;
    text-align: center;     
}

div.description-forming .superment-team {
    font-family: 'DM Sans';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #370F1E;
    text-align: center;  
    text-decoration: underline;
    margin-top: 10px;
}

img.image-forming {
    // margin-top: 10px;
}

section.ingredients {
    background: #E1DCCD;
    width: 100%;
    height: 423px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px 0 22px 0;
}

section.ingredients div.title {
    width: 234px;
}

section.ingredients div.title p {
    font-family: 'Crossfit-Black';
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

section.ingredients div.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: -24px;
}

section.ingredients div.description p {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #370F1E;
    width: 300px;
}

section.ingredients div.carrossel-ingredients {
    width: 100%;
    height: 100%;
}

section.shop-rest {
    width: 100%;
    height: 100%;
    background-color: #E1DCCD;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 40px 0;
}

.imagem-centralizada {
    position: absolute;
    top: -105px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imagem-centralizada img {
    width: 243px;
    height: 210px;
    border-radius: 12px; /* ou 16px, se quiser arredondar */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

section.shop-rest div.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 350px;
    margin-top: 50px;
}

section.shop-rest div.infos p.title {
    width: 272px;
    font-family: 'Crossfit-Black';
    font-weight: bold;
    font-style: Black;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

section.shop-rest div.infos p.description-title {
    margin-top: 10px;
    width: 238px;
    font-family: 'DM Sans';
    font-weight: 500;
    font-style: Regular;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
    margin-bottom: 30px;
}

section.shop-rest div.infos div.infos-users {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

section.shop-rest div.infos div.infos-users div.info {
    width: 112px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

section.shop-rest div.infos div.infos-users div.info p.number {
    font-family: 'Crossfit';
    font-weight: 900;
    font-style: Black;
    font-size: 50px;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}
  
section.shop-rest div.infos div.infos-users div.info p.description {
    width: 110px;
    font-family: 'DM Sans';
    font-weight: 600;
    font-style: Medium;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

#description-maior {
    width: 160px;
}
  
section.shop-rest div.botao-shop-rest {
    background-image: url('@/assets/image/sleepSuperment/botao-shop-rest.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 36px;
    width: 200px;
}

section.everyone {
    width: 100%;
    height: 100%;
    background-color: #370F1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0 10px 20px 10px;
}

section.everyone p.title {
    font-family: 'Crossfit-Bold';
    font-weight: 100;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFAF0;
    max-width: 306px;
    width: 100%;
    margin-top: 40px;
}

img.table {
    margin-top: 20px;
    width: 350px;
}

img.selos {
    margin-top: 10px;
    width: 350px;
}

section.testimonials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px 0 20px 0;
    background-color: #FFFAF0;
}

section.testimonials p.title {
    width: 272px;
    font-family: 'Crossfit-Black';
    font-weight: bold;
    font-style: Black;
    font-size: 33px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

section.testimonials div.assessment { 
    width: 100%;
    max-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E1DCCD;
    padding: 10px 20px 10px 20px;
    margin-top: 35px;
    border-radius: 10px;
}

section.testimonials div.assessment p.notice{
    width: 100%;
    font-family: 'Gelasio';
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

section.testimonials div.assessment p.description{
    width: 100%;
    font-family: 'Gelasio';
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
}

section.testimonials div.testimonials {
    width: 350px;
    height: 590px;
}

section.shop-now {
    background-color: #370F1E;
    width: 100%;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

section.questions {
    width: 100%;
    height: 100%;
    background-color: #FFFAF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 30px 10px 0 10px;
}

section.questions p.title {
    font-family: 'Crossfit-Black';
    font-weight: 900;
    font-size: 28px;
    font-style: Black;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #370F1E;
    width: 200px;
}

.faq {
    background: #FFFAF0;
    padding: 30px 20px;
    font-family: 'DM Sans', sans-serif;
    color: #370f1e;
}

.faq h2 {
    font-family: 'Crossfit', sans-serif;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

///// AJUSTES RESPONSIVOES
  
@media(min-width: '550px') {
    #super-sleep-pequeno {
        display: none;
    }

    #super-sleep-grande {
        background-image: url('@/assets/image/sleepSuperment/super-natural-sleep-2.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        width: 100%;
        aspect-ratio: 16 / 5; /* ajusta a altura automaticamente baseado na largura */
        max-height: 330px;     /* impede que fique gigante em telas grandes */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    #super-sleep-grande div.title {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        padding: 80px 0 0 0;
    }   

    #super-sleep-grande div.title span.product-title {
        text-align: start;
        width: 300px;
    }   
    
    #super-sleep-grande div.title span.product-sub-title {
        text-align: start;
        width: 300px;
    }   

    #super-sleep-grande div.title div.description {
        width: 325px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

     #super-sleep-grande div.title div.description span.description {
        width: 100%;
        height: 100%;
        text-align: start;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0%;
    }

    #super-sleep-grande div.button {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0 40px 0;
    }   

    #super-sleep-grande div.button div {
        margin-left: 10rem;
    }   

    section.shop-rest div.infos {
        width: 100%;
        display: flex;
    }

    section.shop-rest div.infos div.infos-users {
        width: 400px;
    }

    section.shop-rest div.infos div.infos-users div.info {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.shop-rest div.infos div.infos-users div.info p.description {
        width: 200px;
        font-family: 'DM Sans';
        font-weight: 600;
        font-style: Medium;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        color: #370F1E;
    }

    section.ingredients  {
        padding: 40px 0 40px 0;
    }

    section.ingredients div.title {
        width: 430px;
    }

    section.ingredients div.title p {
        font-family: 'Crossfit-Black';
        font-weight: bold;
        font-size: 36px;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
        color: #370F1E;
    }

    section.ingredients div.description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    section.ingredients div.description p {
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #370F1E;
        width: 450px;
        height: 60px;
    }
}

@media(min-width: '800px') {
    .non-habit-forming {
        height: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
    }

    section.non-habit-forming .description-forming {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
    }

    section.non-habit-forming .description-forming p {
        text-align: start;
    }
    
    section.non-habit-forming .description-forming .superment-team {
        text-align: start;
        width: 350px;
        margin-top: 5px;
    }
    
    section.non-habit-forming div.img-non {
        width: 100%;
        height: 100%;
        margin-left: 30px;
    }

    section.questions p.title {
        font-family: 'Crossfit-Black';
        font-weight: 900;
        font-size: 32px;
        font-style: Black;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: center;
        color: #370F1E;
        width: 100%;
        margin-top: 25px;
    }

    section.everyone {
        width: 100%;
        min-height: 442px;
        height: 100%;
        background-color: #370F1E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0 10px 20px 10px;
    }

    section.everyone p.title {
        font-size: 32px;
        max-width: 420px;
        width: 100%;
    }

    img.table {
        margin-top: 20px;
        width: 500px;
    }

    img.selos {
        margin-top: 10px;
        width: 500px;
    }
}

